.empty-text {
  color: rgb(231, 81, 81);
  border: 2px solid rgb(236, 106, 106);
  border-radius: 2rem;
  padding: 0.5rem;
}

.message-block {
  text-align: left;
  width: 100%;
}

.message {
  display: block;
  color: rgb(29, 30, 31);
  border: 2px solid rgb(34, 197, 238);
  border-radius: 2rem;
  margin: 0.5rem 0px;
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  width: 40%;
}

.message-user {
  font-size: 0.3rem;
  display: block;
}
.message-date {
  font-size: 0.3rem;
  display: none;
}

.message:hover .message-date {
  display: block;
}

.receiver {
  margin-right: auto;
}

.sender .message {
  margin-left: auto;
}

.sender .message-date,
.sender .message-user {
  text-align: right;
}

.receiver .message-date,
.receiver .message-user {
  text-align: left;
}

.message-user::first-letter {
  text-transform: capitalize;
}

.chat-wrapper {
  max-height: 50vh;
  overflow: auto;
  margin: 1rem 0px;
  padding: 0.5rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
